.seguros-bg {
    background-color: var(--cor-11);
    color: var(--cor-0);
    padding: 6rem 0;
}

.seguros {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: center;
}

.seguros h2 {
    grid-column: 1 / -1;
}

.seguro {
    padding: 3.2rem 3.2rem 3.2rem 6rem;
    background-color: var(--cor-12);

    display: grid;
    grid-template-columns: 1fr auto;
    border-radius: 5px;
}

.seguro h3 {
    font: var(--font-1-xl);
    text-transform: uppercase;
    margin-bottom: 4rem;
}

.seguro .preco {
    font: var(--font-1-xl);
    text-align: right;
}

.seguro .preco span {
    font: var(--font-1-xs);
    display: block;
    color: var(--cor-6);
}

.seguro ul {
    font: var(--font-2-m);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3.2rem;

    grid-column: 1 / -1;
}

.seguro ul li {
    position: relative;
}

.seguro ul li::before {
    content: "";
    display: block;
    background: url(../../img/icones/lista.svg) no-repeat;
    background-size: contain;
    width: 1.2rem;
    height: 8px;
    position: absolute;
    left: -20px;
    bottom: 50%;
    transform: translateY(50%);
}

.seguro .botao {
    grid-column: 1 / -1;
}

/* PRATA */
.prata h3 {
    color: var(--cor-6);
}

/* OURO */
.ouro h3 {
    color: var(--cor-p1);
}

@media (max-width: 800px) {
    .seguros {
        grid-template-columns: 1fr;
    }
}
