:root {
    font-size: 62.5%;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body,
input,
button,
textarea {
    font: 400 1.6rem "Roboto", "Arial", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

h1,
h2 {
    font: var(--font-1-xxl);
}

img[src$=".jpg"] {
    border-radius: 5px;
}

.dot-detail {
    color: var(--cor-p1);
}

.container {
    width: min(95vw, 1200px);
    margin: 0 auto;
}
