.header-bg {
    background-color: var(--cor-12);
}

.header {
    width: min(90%, 1200px);
    margin: 0 auto;
    padding: 3.2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.header-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 4rem;
}

.header-menu a {
    display: inline-block;
    padding: 1.6rem 0;
    position: relative;
 }

.header-menu a::after {
    background-color: var(--cor-0);
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 2rem;
    }
    .header-menu a {
        background-color: var(--cor-11);
        border-radius: 5px;

        padding: 1.2rem 1.6rem;
    }
    .header-menu a:hover {
        background-color: var(--cor-10);
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 1.2rem;
    }

    .header-menu a {
        padding: 0.8rem 1.2rem;
    }
}
