.bicicletas {
    padding: 6rem 0;
}

.bicicleta {
    font: var(--font-2-m);
    color: var(--cor-8);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;

    padding: 6rem 0;
}

.bicicleta-imagem {
    display: grid;
}
.bicicleta-imagem img {
    grid-area: 1/1;
}

.bicicleta-imagem span {
    place-self: start end;
    margin-top: 2rem;
    grid-area: 1/1;
    display: inline-block;
    padding: 0.8rem 1.6rem 0.8rem 0.8rem;
    border-radius: 5px 0 0 5px;
    font: var(--font-2-m);
    color: var(--cor-0);
    background-color: var(--cor-12);
}

.bicicleta-conteudo {
    align-content: start;
    display: grid;
    grid-template-columns: 1fr auto;
}

.bicicleta-conteudo .botao {
    background-color: red;
    grid-column: 2 / -1;
    grid-row: 3;
    align-self: end;
}

.bicicleta-conteudo .botao  img {
    transition: transform 0.3s;
}
.bicicleta-conteudo .botao:hover img {
    transform: translateX(4px);
}

.bicicleta-conteudo ul {
    grid-row: 3;
}

.bicicleta-conteudo h2,
.bicicleta-conteudo ul,
.bicicleta-conteudo p {
    grid-column: 1 / -1;
}

.bicicleta-conteudo h2 {
    font: var(--font-1-xl);
    color: var(--cor-11);
    margin-bottom: 2rem;
}

.bicicleta-conteudo h2::before {
    content: "";
    display: block;
    width: 1.2rem;
    height: 0.8rem;
    background-color: var(--cor-p1);
    margin-bottom: 0.8rem;
}

.bicicleta-conteudo p {
    font-weight: 400;
    max-width: 45ch;

    margin-bottom: 3.2rem;
}

.bicicleta-conteudo li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

.bicicleta-conteudo li + li {
    margin-top: 1.6rem;
}

.bicicleta-conteudo li img {
    width: 2.4rem;
    height: 2.4rem;
}

@media (min-width: 801px) {
    .bicicleta-bg:nth-child(even) {
        background-image: linear-gradient(90deg, var(--cor-0) 30%, var(--cor-11) 0);
    }
    .bicicleta-bg:nth-child(even) .bicicleta {
        color: var(--cor-5);
    }
    .bicicleta-bg:nth-child(even) .bicicleta h2 {
        color: var(--cor-0);
    }
}

@media (max-width: 800px) {
    .bicicletas {
        padding: 0;
    }

    .bicicleta {
        grid-template-columns: 1fr;
        padding: 4rem 0;
    }
}

@media (max-width: 600px) {
    .bicicleta-conteudo {
        display: block;
    }

    .bicicleta-conteudo ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-bottom: 4rem;
    }
    .bicicleta-conteudo ul li {
        font-size: 1.6rem;
        font-weight: 400;
    }
}
