.bicicletas-lista {
    padding: 6rem 0;
}

.bicicletas-lista a {
    display: block;
}

.bicicletas-lista a:hover h3::before,
.bicicletas-lista a:focus h3::before {
    width: 2.4rem;
}

.bicicletas-lista h2 {
    margin: 0 auto 4rem;
}

.bicicletas-lista ul {
    width: min(90vw, 1400px);
    margin: 0 auto;

    padding-bottom: 2rem;
    display: flex;
    gap: 4rem;
    overflow: auto;
}

.bicicletas-lista ul li {
    min-width: 280px;
}

.bicicletas-lista img {
    margin-bottom: 1.6rem;
}

.bicicletas-lista h3 {
    margin-bottom: 0.8rem;
    display: flex;
    gap: 0.8rem;
    align-items: center;
}

.bicicletas-lista h3::before {
    content: "";
    background-color: var(--cor-p1);
    width: 1.2rem;
    height: 0.8rem;
    display: block;
    transition: width 0.3s;
}

.bicicletas-lista li span {
    display: block;
    padding-left: 2rem;
}

@media (max-width: 800px) {
    .bicicletas-lista ul {
        gap: 2rem;
    }
}
