.footer-bg {
    background-color: var(--cor-12);
}

.footer {
    display: grid;
    grid-template-columns: 3fr 5fr 4fr;
    gap: 4rem;

    padding: 6rem 0;
}

.footer a:hover {
    color: var(--cor-0);
}

.footer ul {
    color: var(--cor-5);
}

.footer h2 {
    color: var(--cor-0);
    font: var(--font-2-l-b);
    letter-spacing: 0.36px;
    text-transform: uppercase;
    margin-bottom: 3.2rem;
}

.footer-contato ul {
    font: var(--font-2-m);
}

.footer-contato ul:first-of-type {
    margin-bottom: 3.2rem;
}
.footer-contato ul:first-of-type li {
    margin-bottom: 1.6rem;
    max-width: 360px;
}

.footer-contato ul:first-of-type li:nth-child(even) {
    border-bottom: 2px solid var(--cor-11);
    padding-bottom: 1.6rem;
}

.footer-redes {
    display: flex;
    align-items: center;
    gap: 3.2rem;
}

.footer-informacoes li {
    font: var(--font-1-m);
    padding-bottom: 1.6rem;
}

.footer-copy {
    grid-column: 1 / -1;
    color: var(--cor-6);
    font: var(--font-2-m);
    font-weight: 400;
}

@media (max-width: 800px) {
    .footer {
        grid-template-columns: 1fr 1fr;
    }
    .footer .logo {
        display: none;
    }
}

@media (max-width: 600px) {
    .footer {
        grid-template-columns: 1fr;
        gap: 6rem;
    }
}
