.header-bg {
    background-color: var(--cor-12);
    color: var(--cor-0);
}

.header-bg > div {
    padding: 3.2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    flex-wrap: wrap;
}

.header-bg ul {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.header-bg ul a {
    padding: 1.6rem 0rem;

    font: var(--font-1-m);
    font-size: clamp(1.4rem, 1.2182rem + 0.3636vw, 1.8rem);
    position: relative;
}

.header-bg ul a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: var(--cor-0);
    display: block;
    margin-top: 4px;
    position: absolute;
    transition: width 0.5s;
    left: 0;
}

.header-bg ul a:hover::after,
.header-bg ul a.selected::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-bg ul {
        gap: 2rem;
    }

    .header-bg ul a {
        background-color: var(--cor-11);
        border-radius: 5px;
        padding: 1.2rem 1.6rem;
    }

    .header-bg ul a::after {
        display: none;
    }
}

@media (max-width: 600px) {
    .header-bg ul {
        gap: 1.2rem;
    }
}
