.detalhes-bg {
    background-color: var(--cor-11);
}

.detalhes {
    color: var(--cor-0);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    align-items: start;

    padding-bottom: 12rem;
}

.detalhes-galeria {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.detalhes-galeria img:first-child {
    min-width: 100%;
}

.detalhes-galeria img {
    flex: 1;
    min-width: 200px;
}

.detalhes-conteudo > p {
    font: var(--font-2-l);
    color: var(--cor-5);
    margin-bottom: 3.2rem;
}

.detalhes-comprar {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
    gap: 0.8rem 1.2rem;
}

.detalhes-comprar .botao {
    grid-row: 1 / 3;
}

.detalhes-comprar span {
    background-color: var(--cor-12);
    color: var(--cor-6);
    font: var(--font-1-xs);
    font-weight: 500;

    width: fit-content;
    padding: 0.4rem 0.8rem;
    border-radius: 5px;

    display: flex;
    align-items: center;
    gap: .8rem;
}

.detalhes-conteudo h2 {
    font: var(--font-1-xs);
    text-transform: uppercase;
    letter-spacing: 0.18px;
    margin: 4rem 0 1.2rem;
}

.detalhes-conteudo h2 + ul {
    background-color: var(--cor-12);
    padding: 3.2rem;
    border-radius: 5px;
}

.detalhes-informacoes {
    display: grid;
    gap: 3.2rem;
    grid-template-columns: 1fr 1fr;
}

.detalhes-informacoes img {
    width: 2.4rem;
    height: 2.4rem;
}

.detalhes-informacoes h3 {
    font: var(--font-1-m);
    margin: 4px 0 8px;
}

.detalhes-informacoes p {
    color: var(--cor-5);
    font: var(--font-2-xs);
}

.detalhes-ficha li {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 0;
}

.detalhes-ficha li + li {
    border-top: 1px solid var(--cor-11);
}

@media (max-width: 800px) {
    .detalhes {
        grid-template-columns: 1fr;
    }

    .detalhes-galeria {
        order: 1;
    }
}

@media (max-width: 450px) {
    .detalhes-informacoes {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 350px) {
    .detalhes-comprar {
        grid-template-columns: 1fr;
    }
}
