.bicicleta-seguro-bg {
    background-color: var(--cor-11);
    box-shadow: inset 0px 12rem var(--cor-0), inset 0px -12rem var(--cor-12);
}

.bicicleta-seguro-conteudo {
    padding: 18rem 0;
}

.bicicleta-seguro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
}

.bicicleta-seguro h2 {
    color: var(--cor-0);
    margin-bottom: 3.2rem;
}

.bicicleta-seguro p {
    color: var(--cor-5);
    font: var(--font-2-l);
    margin-bottom: 2rem;
}

.bicicleta-seguro > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 800px) {
    .bicicleta-seguro-bg {
        box-shadow: inset 0px -6rem var(--cor-12);
    }

    .bicicleta-seguro {
        grid-template-columns: 1fr;
    }

    .bicicleta-seguro-conteudo {
        grid-row: 1;
        padding: 4rem 0 0;
    }
}
