.introducao-bg {
    background-color: var(--cor-12);

    box-shadow: inset 0 -12rem var(--cor-0);
}

.introducao {
    width: min(90%, 1200px);
    margin: 0 auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 4rem;
}

.introducao img {
    border-radius: 5px;
    height: 100%;
    object-fit: cover;
}

.introducao-conteudo {
    align-self: end;
    padding-bottom: 20rem;
}

.introducao-conteudo h1 {
    margin-bottom: 3.2rem;
}

.introducao-conteudo p {
    margin-bottom: 2rem;
}

@media (max-width: 800px) {
    .introducao-bg {
        background-color: var(--cor-11);
        padding-top: 4rem;
        box-shadow: inset 0 -6rem var(--cor-0);
    }
    .introducao {
        grid-template-columns: 1fr;
        gap: 3.2rem;
    }

    .introducao-conteudo {
        padding-bottom: 0;
    }

    .introducao h1 {
        margin-bottom: 1.6rem;
    }

    .introducao img {
        height: 300px;
        width: 100%;
    }
}
