:root {
    font-size: 62.5%;

    /* Cores */

    --cor-0: #ffffff;
    --cor-1: #f7f7f7;
    --cor-2: #ededed;
    --cor-3: #dedede;
    --cor-4: #cccccc;
    --cor-5: #b2b2b2;
    --cor-6: #9c9c9c;
    --cor-7: #717171;
    --cor-8: #595959;
    --cor-9: #404040;
    --cor-10: #2e2e2e;
    --cor-11: #111111;
    --cor-12: #000000;

    --cor-p1: #ffbb00;
    --cor-p2: #e4a30b;
    --cor-p3: #a66f00;
    --cor-p4: #664400;
    --cor-p5: #332200;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body,
input,
button,
textarea {
    font: 400 1.6rem "Roboto", "Arial", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.dot-detail {
    color: var(--cor-p1);
}

.container {
    width: min(95vw, 1200px);
    margin: 0 auto;
}

.botao {
    color: var(--cor-p5);
    background: linear-gradient(#ffbf00, #f2a50c);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;

    font: var(--font-1-m-b);
    text-transform: uppercase;
    letter-spacing: 5%;

    padding: 1.6rem 3.2rem;
}
