:root {
    font-size: 62.5%;

    --w: #ffffff;
    --c1: #f7f7f7;
    --c2: #ededed;
    --c3: #dedede;
    --c4: #cccccc;
    --c5: #b2b2b2;
    --c6: #9c9c9c;
    --c7: #717171;
    --c8: #595959;
    --c9: #404040;
    --c10: #2e2e2e;
    --c11: #111111;
    --c12: #000000;

    --p1: #ffbb00;
    --p2: #e4a30b;
    --p3: #a66f00;
    --p4: #664400;
    --p5: #332200;

    --font-1: "Poppins", "Arial", sans-serif;
    --font-2: "Roboto", "Arial", sans-serif;

    --font-1-xxl: 600 6.4rem/72px var(--font-1);
    --font-1-xl: 600 3.2rem/40px var(--font-1);
    --font-1-l: 400 2.4rem/36px var(--font-1);

    --font-2-l: 400 2.4rem/36px var(--font-2);
    --font-2-l-b: 500 2.4rem/36px var(--font-2);

    --font-1-m: 400 1.8rem/24px var(--font-1);
    --font-1-m-b: 600 1.8rem/24px var(--font-1);
    --font-2-m: 500 1.8rem/24px var(--font-2);

    --font-1-s: 400 1.6rem/24px var(--font-1);
    --font-2-s: 400 1.6rem/24px var(--font-2);

    --font-2-xs: 400 1.4rem/20px var(--font-2);
    --font-1-xs: 600 1.2rem/16px var(--font-1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: inherit;
}

img,
picture,
svg,
video {
    display: block;
    max-width: 100%;
}

body,
input,
button,
textarea {
    font: 400 1.6rem "Robo to", "Arial", sans-serif;
    /* font: var(--font-2-s); */
    font-optical-sizing: auto;
    font-variation-settings: "wdth" 100;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    min-height: 100vh;
}

a {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style: none;
}

.header-bg {
    background-color: var(--c12);
}

.header {
    color: var(--w);

    width: min(90%, 1200px);
    margin: 0 auto;
    padding: 3.2rem 0;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
}

.header-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 4rem;
}

.header-menu a {
    display: inline-block;
    padding: 1.6rem 0;
    position: relative;
    font-size: 1.8rem;
}

.header-menu a::after {
    background-color: var(--w);
    content: "";
    display: block;
    width: 0;
    height: 2px;
    transition: width 0.3s;
    position: absolute;
}

.header-menu a:hover::after {
    width: 100%;
}

@media (max-width: 800px) {
    .header-menu {
        gap: 2rem;
    }
    .header-menu a {
        background-color: var(--c11);
        border-radius: 5px;

        padding: 1.2rem 1.6rem;
    }
    .header-menu a:hover {
        background-color: var(--c10);
    }
}

@media (max-width: 600px) {
    .header-menu {
        gap: 1.2rem;
    }

    .header-menu a {
        padding: 0.8rem 1.2rem;
        font-size: 1.4rem;
    }
}
