.container {
    width: min(90vw, 1200px);
    margin: 0 auto;
}

.botao {
    background: linear-gradient(#ffbf00, #f2a50c);
    color: var(--cor-p5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    text-transform: uppercase;

    border-radius: 5px;
    padding: 1.6rem 3.2rem;
    display: inline-block;
    font: 600 1.8rem/1.33 var(--font-1);
}

.botao:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

@media (max-width: 600px) {
    .botao {
        padding: 1.2rem 1.6rem;
        font-size: 1.6rem;
    }
}
