:root {
    --font-1: "Poppins", "Arial", sans-serif;
    --font-2: "Roboto", "Arial", sans-serif;
}

.font-1-xxl {
    font: 600 6.4rem/1.125 var(--font-1);
}

.font-1-xl {
    font: 600 3.2rem/1.25 var(--font-1);
}
.font-1-l {
    font: 400 2.4rem/1.5 var(--font-1);
}
.font-1-m {
    font: 400 1.8rem/1.33 var(--font-1);
}
.font-1-m-b {
    font: 600 1.8rem/1.33 var(--font-1);
}
.font-1-s {
    font: 400 1.6rem/1.5 var(--font-1);
}
.font-1-xs {
    font: 600 1.2rem/1.33 var(--font-1);
}

.font-2-l {
    font: 400 2.4rem/1.5 var(--font-2);
}

.font-2-l-b {
    font: 500 2.4rem/1.5 var(--font-2);
}
.font-2-m {
    font: 500 1.8rem/1.33 var(--font-2);
}
.font-2-s {
    font: 400 1.6rem/1.5 var(--font-2);
}
.font-2-xs {
    font: 400 1.4rem/1.42 var(--font-2);
}

@media (max-width: 1200px) {
    .font-1-xxl {
        font-size: 4.8rem;
    }

    .font-2-l,
    .font-2-l-b {
        font-size: 1.8rem;
    }
}

@media (max-width: 800px) {
    .font-1-xxl {
        font-size: 3.2rem;
    }

    .font-1xl,
    .font-2-xl {
        font-size: 2.4rem;
    }
}

@media (max-width: 600px) {
    .font-1-m {
        font-size: 1.4rem;
    }
}
